#log { 
  position: fixed;
  top: 0;
  z-index: 1;
  width: 50%;
  font-size: 1.25rem;

  padding: 20px;
  border-radius: 10px;
  box-shadow: -4px 5px grey;
  margin-top: 120px;
  
  background-color: rgba(255, 228, 196, 0.9);

  &[data-type="success"] {
    box-shadow: -4px 5px green;
  }

  &[data-type="warning"] {
    box-shadow: -4px 5px yellow;
  }

  &[data-type="error"] {
    box-shadow: -4px 5px red;
  }

  &:hover {
    cursor: pointer;
  }
}
