%players {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

%player-card {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 228, 196);

  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: -2px 3px grey;
}

#player-display {
  @extend %players;
  justify-content: space-evenly;
  max-height: 150px;
  margin-bottom: 0;
}

#players {
  @extend %players;
  justify-content: center;
  flex-wrap: wrap;
}

.player-card {
  @extend %player-card;
  min-height: 86px;
  max-height: 90px;
  width: 20%;
  justify-content: space-evenly;

  img {
    width: 80px;
  }
}

.player-entry {
  @extend %player-card;
  width: 40%;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

input {
  margin-left: 8px;
  font-family: inherit;
  font-size: 1.2rem;
  line-height: inherit;
  padding: 5px;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  p {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    max-width: 200px;
    overflow: hidden;
  }
}

.player-card.highlighted {
  background-color: #06D6A0;
}

.player-lives {
  display: flex;
  align-items: center;
}

.life {
  color: white;
  margin-right: 5px;

  &.filled {
    color: red;
  }
}