#rules {
  position: absolute;
  top: 0;
  background-color: rgba(100, 100, 100, .5);
  z-index: 1;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;

  section {
    display: flex;
  }
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  figcaption {
    margin-bottom: 10px;
    max-width: 400px;
    text-align: center;
  }
}

.modal {
  background-color: rgb(255, 228, 196);
  width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 40px 80px;

  border: 1px solid white;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 20px;
  }

  p {
    font-size: 1.25rem;
  }

  div {
    width: 100%;
    display: flex;
    flex-direction: column;

    line-height: 1.2;

    &:first-child {
      justify-content: space-around;
    }
  }
}