$default-color: #FFDD99;
$highlight-color: #FCBF49;
$highlight-color-light: #FFB217;
$success-color: #06D6A0;
$success-color-light: #51FBCD;
$black-color: #000300;
$danger-color: #f94144;
$icon-width: 4rem;
$thin-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

body {
  background-image: url('../images/backgrounds/background.png');
}

section  {
  width: 45vw;
}

section h2 {
  border-bottom: 0.1rem solid $black-color;
  text-align: left;
  margin: 1rem 0;
}

.btn {
  padding: 1rem 0;
  border-radius: 1rem;
  box-shadow: -0.1rem 0.2rem 0 0 $highlight-color-light;
  border: none;
  width: 100%;
  background-color: $default-color;
  cursor: pointer;
  transition: color ease 0.3s;
  font-family: inherit;
  font-size: $icon-width / 4;
}

.btn i {
  font-size: $icon-width / 3;
}

#add-player {
  background-color: $highlight-color;
  box-shadow: -0.1rem 0.2rem 0 0 $success-color-light;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    margin-right: 5px;
  }
}

#start-game {
  background-color: $success-color;
  box-shadow: -0.1rem 0.2rem 0 0 $success-color-light;
}

.btn:hover {
  box-shadow: -0.1rem 0.2rem 0.3rem 0.1rem $highlight-color-light !important;
  color: white !important;
}

#form-action-buttons {
  width: 30%;
}

#player-form {
  margin: 1rem 0;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

#form-action-buttons .btn {
  height: 100% !important;
}

#group-addplayer-form, #form-action-buttons, #player-form {
  display: flex;
  justify-content: space-between;
}

#group-addplayer-form {
  align-items: center;
  justify-content: center;
  background-color: $default-color;
  padding: 0.3rem 0.5rem;
  border-radius: 2rem;
  box-shadow: $thin-shadow;
}

#playerName {
  outline: none;
  border: none;
  background: none;
  border-bottom: 0.1rem solid $black-color;
  margin-right: 5px;
}

.add-player-form-btn {
  background-color: $success-color;
  margin: 0 1rem;
}

#cancel-player {
  background-color: $danger-color;
}

#current-icon {
  padding: 0.5rem;
  max-width: $icon-width;
  width: $icon-width;
  height: auto;
}

#players {

  .player-entry {
    box-shadow: $thin-shadow;
    background-color: $default-color;
    border-radius: 2rem;
    margin: 0.3rem 0.3rem;
    padding: 0.3rem;
    border: none;
    img {
      max-width: $icon-width;
      width: $icon-width;
      height: auto;
      max-height: $icon-width;
    }
    i {
      font-size: $icon-width / 3;
    }
    i:hover {
      color: $danger-color;
      cursor: pointer;
    }
    p {
      max-width: 100%;
      overflow: hidden;
    }
  }
}

#player-list {
  margin: 1rem 0;
}

#icon-select {
  position: relative;
}

.icon-choice:hover,
#current-icon:hover {
  cursor: pointer;
  background-color: $highlight-color-light;
  border-radius: 3rem;
}

#icon-choices {
  position: absolute;
  top: -90px;
  left: -75px;

  display: flex;
  z-index: 1;
  background-color: rgba(255, 235, 205, .9);
  padding: 15px;

  img {
    padding: 0.5rem;
    max-width: $icon-width;
    width: $icon-width;
    height: auto;
    margin: 0 0.5rem;
  }
}