@use '_reset';
@use '_startup';
@use '_rules';
@use '_players';
@use '_log';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
$main-font: 'Josefin Sans', Arial, sans-serif;

* {
  box-sizing: border-box;
}

html {
  position: relative;
  font-family: $main-font;
  font-size: 16px;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
}

main {
  max-width: 100% !important;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-right: 8px;
}

#card-list {
  display: flex;
  max-width: 100% !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  align-items: flex-end;
}

#flippable-card-list {
  display: flex;
  width: 680px;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

#flippable-card-list .card {
  min-height: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;
  background-color: initial !important;
}

.card {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-list .card {
  flex-direction: column;
}

.hidden {
  display: none!important;
}
