@use '_reset';
@use '_startup';
@use '_rules';
@use '_players';
@use '_log';

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
$main-font: 'ABeeZee', Arial, sans-serif;

* {
  box-sizing: border-box;
}

html {
  position: relative;
  font-family: $main-font;
  font-size: 16px;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
}

main {
  max-width: 100% !important;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-right: 8px;
}

#static-card-list {
  background-image: url(../images/backgrounds/sky.png);
  background-size: contain;
}

#card-list {
  display: flex;
  max-width: 100% !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  align-items: flex-end;
}

#flippable-card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #23BF76;
}

#flippable-card-list .card {
  width: (100% / 6);
  margin: 0;

  img {
    max-height: 120px;
    max-width: 120px;

    &:hover {
      cursor: pointer;
    }
  }
}

.card {
  margin: 1rem;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-list .card {
  flex-direction: column;
  justify-content: flex-end;
  min-height: 316px;
  max-height: 316px;
}

.hidden {
  display: none!important;
}
