#player-display {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.player-card {
  display: flex;

  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;

  p {
    display: flex;
    align-items: center;
    margin-left: 5px;
  }
}

.highlighted {
  border: 2px solid blue!important;
}