button {
  font-size: 1.5rem;
  background-color: rgb(126, 213, 216);

  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;

  &:hover {
    cursor: pointer;
    background-color: darken(rgb(126, 213, 216), 20%);
  }
}

#startup {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid grey;
  border-radius: 5px;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;

  >button {
    padding: 10px 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h2 {
    text-align: center;
  }
}

#player-list > div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#players {
  display: flex;
}

#startup form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;

  border: 1px solid gray;
  border-radius: 5px;
  padding: 8px;

  label {
    display: flex;
    margin-right: 10px;
  }

  input[type='checkbox']:hover {
    cursor: pointer;
  }

  img {
    border: 1px solid gray;
    margin-right: 10px;
  }

  button {
    font-size: 1.5rem;
    background-color: rgb(126, 213, 216);

    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;

    &:hover {
      cursor: pointer;
      background-color: darken(rgb(126, 213, 216), 20%);
    }
  }
}

#icon-select {
  position: relative;
}

.icon-choice:hover,
#current-icon:hover {
  cursor: pointer;
  border-color: yellow!important;
}

#icon-choices {
  position: absolute;
  top: -90px;
  left: -75px;

  display: flex;
  z-index: 1;
  background-color: rgba(255, 235, 205, .9);
  padding: 15px;

  img {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.player-entry {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  * {
    margin-right: 10px;
  }
}

.error {
  color: red;
}

#rules {
  position: absolute;
  top: 0;
  background-color: rgba(100, 100, 100, .5);
  z-index: 1;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
}

.modal {
  background-color: rgb(255, 228, 196);
  width: 80%;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;

  border: 1px solid white;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2, p {
    margin-bottom: 10px;
  }
}